{% include "chrome/web-store/_local_variables.html" %}
<html devsite>
  <head>
    <title>Payments: Regions, Fees, and Tiers</title>
    <meta name="project_path" value="/chrome/web-store/_project.yaml" />
    <meta name="book_path" value="/chrome/web-store/_book.yaml" />
  </head>
  <body>

<link rel="stylesheet" type="text/css" href="/chrome/web-store/css/local_extensions.css"/>

<p>
When you use Chrome Web Store Payments,
you need to choose from one of 18 price tiers
for each region that you publish to.
This page shows those price tiers
for all regions that the store supports.
It also gives details about
who can use Chrome Web Store Payments,
and how much of the purchase price
you can expect to receive.
</p>

<p class="note">
<b>Note:</b>
This page applies only if you use Chrome Web Store Payments.
For information on other options,
see <a href="/chrome/web-store/docs/money">Monetizing your app</a>.
</p>


<h4> Contents </h4>

<ol class="toc">
  <li> <a href="#seller">Who can use Chrome Web Store Payments</a> </li>
  <li> <a href="#fee">Google's transaction fee</a> </li>
  <li> <a href="#matrix">Price tiers</a> </li>
</ol>

<h2 id="seller"> Who can use Chrome Web Store Payments </h2>

<p>
If you're in one of the following regions,
you can sell apps using Chrome Web Store Payments:
</p>

<ul style="-webkit-column-count:4; -moz-column-count:4; column-count:4">
  <li> Australia </li>
  <li> Austria  </li>
  <li> Belgium  </li>
  <li> Canada  </li>
  <li> Denmark  </li>
  <li> Finland  </li>
  <li> France </li>
  <li> Germany </li>
  <li> Hong Kong  </li>
  <li> Italy </li>
  <li> Japan </li>
  <li> Netherlands </li>
  <li> New Zealand  </li>
  <li> Norway  </li>
  <li> Portugal </li>
  <li> Singapore  </li>
  <li> Spain </li>
  <li> Sweden  </li>
  <li> Switzerland  </li>
  <li> United Kingdom </li>
  <li> United States </li>
</ul>

<p>
You can sell to buyers in any of {# the seller#} the above regions,
and to the following regions:
United Arab Emirates, Saudi Arabia, Morocco, Egypt,
and the Ukraine.
{% comment %}
NOTE: Leave the following sentence IN
until we remove these countries from the dashboard UI.
{% endcomment %}
In the future, we expect to support sales
to the following additional regions:
Argentina, Brazil, India, Mexico, and Poland.
Buyers in unsupported regions might be able to purchase apps,
but they can't pay in their local currency
and might have to pay international transaction fees.
</p>


<h2 id="fee"> Google's transaction fee </h2>

<p>
Each time someone buys your app using Chrome Web Store Payments,
Google charges you a 5% transaction fee.
For example,
if you charge $1.99, you'll receive $1.89;
if you charge $9.99, you'll receive $9.49.
</p>

<p class="note">
<b>Note:</b>
Google Checkout sends out payments once per month
in your local currency.
</p>

<p class="backtotop"><a href="#top">Back to top</a></p>
<h2 id="matrix"> Price tiers </h2>

<p>
The following table shows the pricing tiers
for each {# buyer#} region.
Each "You get" row shows approximately
the payment you should expect per sale at each price.
</p>

{% include "chrome/web-store/docs/_pricing-table.html" %}

<p id="eu" class="note">
<b>Note:</b>
The following EU regions are supported:
Austria, Belgium, Finland, France, Germany, Italy, Netherlands, Portugal, Spain.
</p>

<p class="backtotop"><a href="#top">Back to top</a></p>
  </body>
</html>

